/*=========================================
  GOOGLE FONT
=========================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

img{
    max-width:100%;
    height:auto;
    display:block;
}

html{
    scroll-behavior:smooth;
    overflow-x:hidden;
}

body{
    background:
        radial-gradient(circle at top right,
        rgba(45,212,191,.12),
        transparent 35%),
        radial-gradient(circle at bottom left,
        rgba(45,212,191,.08),
        transparent 45%),
        linear-gradient(
        135deg,
        #020617,
        #081224,
        #0F172A);
    color:#F8FAFC;
  overflow-x:hidden;
} 

main{
    max-width:1400px;
    margin:auto;
} 
/*HEADER*/

.header{
    width:100%;
    min-height:90px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 6%;
    background:rgba(2,10,30,.75);
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter:blur(20px);
    border-bottom:1px solid rgba(255,255,255,.08);
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#2DD4BF;
    cursor:pointer;
}

.logo span{
    color:white;
    font-size:22px;
    margin-left:5px;
}

/* NAVBAR */

.navbar{
    display:flex;
    align-items:center;
    gap:25px;
}

.navbar a{
    text-decoration:none;
    color:#EAF4FF;
    font-size:18px;
    font-weight:500;
    position:relative;
    transition:0.3s;
}

/* ACTIVE LINE */

.navbar a.active{
    color:#2DD4BF;
}

.navbar a.active::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:100%;
    height:3px;
    background:#2DD4BF;
    border-radius:10px;
    box-shadow:0 0 15px #2DD4BF;
}

/* HOVER */

.navbar a:hover{
  color:#5EEAD4;
}

/* RIGHT SIDE */

.right-section{
    display:flex;
    align-items:center;
    gap:20px;
}

/* DOWNLOAD BUTTON */

.download-btn{
    text-decoration:none;
    padding:14px 28px;
    border-radius:40px;
    border:2px solid #2DD4BF;
    background:transparent;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.4s;
}

/* ICON */

.download-btn i{
    margin-right:10px;
}

/* HOVER EFFECT */

.download-btn:hover{
    background:#2DD4BF;
    box-shadow:
        0 0 15px #2DD4BF,
        0 0 35px #2DD4BF;
    transform:translateY(-2px);
}

/* LIGHT BUTTON */

.theme-btn{
    width:55px;
    height:55px;
    border-radius:50%;
    border:2px solid #2DD4BF;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:0.4s;
    color:#2DD4BF;
    font-size:22px;
}

/* GLOW */

.theme-btn:hover{
    background:#2DD4BF;
    color:white;
    box-shadow:
        0 0 15px #2DD4BF,
        0 0 35px #2DD4BF;
    transform:rotate(180deg);
}

/* RESPONSIVE */

@media(max-width:1100px){

    .navbar{
        gap:20px;
    }

    .navbar a{
        font-size:15px;
    }

    .download-btn{
        padding:12px 18px;
        font-size:14px;
    }
}

@media(max-width:900px){

    .header{
        flex-direction:column;
        height:auto;
        gap:20px;
        padding:20px;
    }

    .navbar{
        flex-wrap:wrap;
        justify-content:center;
    }
}

/*=========================================
 ABOUT SECTION
=========================================*/

.about-section{
    background:transparent;
    max-width:1300px;
    margin:80px auto;
    padding:0 60px;
    display:grid;
    grid-template-columns:430px 1fr;
    gap:90px;
    align-items:center;
}

/*=========================================
 IMAGE
=========================================*/

.about-image{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.photo-bg{
    position:absolute;
    width:430px;
    height:430px;
    border-radius:50%;
    background:
    radial-gradient(circle,
    rgba(45,212,191,.35),
    transparent 70%);
}

.about-image img{
    width:420px;
    height:500px;
    object-fit:cover;
    border-radius:35px;
    position:relative;
    z-index:2;
    border:5px solid #2DD4BF;
    transition:.4s;
    box-shadow:
        0 0 25px rgba(45,212,191,.5),
        0 0 55px rgba(45,212,191,.35)
}

.about-image img:hover{
    transform:translateY(-8px);
    box-shadow:
    0 0 25px rgba(45,212,191,.5),
    0 0 60px rgba(45,212,191,.3);
}

/*=========================================
 FLOATING CARD
=========================================*/

.floating-card{
    position:absolute;
    bottom:-20px;
    left:40px;
    width:260px;
    background:rgba(15,23,42,.7);
    border:1px solid rgba(45,212,191,.25);
    border-radius:22px;
    padding:20px;
    z-index:5;
    backdrop-filter:blur(18px);
    box-shadow:
    0 20px 40px rgba(0,0,0,.35);
}

.floating-card i{
    color:#2DD4BF;
}

.info{
    display:flex;
    align-items:center;
    gap:15px;
}

.info:first-child{
    margin-bottom:18px;
}

.info i{
    width:50px;
    height:50px;
    background:rgba(45,212,191,.15));
    border-radius:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#2DD4BF;
    font-size:20px;
}

.info h4{
    font-size:16px;
    margin-bottom:5px;
}

.info p{
    color:#bcbccc;
    font-size:14px;
}

/*=========================================
 ABOUT CONTENT
=========================================*/

.about-tag{
    display:inline-flex;
    align-items:center;
    gap:10px;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(45,212,191,.3);
    border-radius:40px;
    padding:12px 26px;
    color:#DCE8FF;
    font-weight:600;
}

.about-content h1{
    color:#F8FAFC;
    font-size:60px;
    line-height:1.15;
    margin:30px 0;
}

.about-content h1 span{
    color:#2DD4BF;
    text-shadow:
        0 0 15px rgba(45,212,191,.6),
        0 0 35px rgba(45,212,191,.35);
}

.about-content p{
    color:#CBD5E1;
    line-height:1.9;
    font-size:17px;
    margin-bottom:20px;
}

/*=========================================
 BUTTON
=========================================*/

.connect-btn{
    display:inline-flex;
    align-items:center;
    gap:12px;
    margin-top:20px;
    padding:16px 34px;
    border-radius:50px;
    background:linear-gradient(135deg,#2DD4BF,#14B8A6);
    color:white;
    text-decoration:none;
    transition:.35s;
    font-weight:600;
    box-shadow:
        0 0 20px rgba(45,212,191,.35),
        0 0 40px rgba(45,212,191,.25);
}

.connect-btn:hover{
    transform:translateY(-6px);
    box-shadow:
    0 0 20px #2DD4BF,
    0 0 45px rgba(45,212,191,.35);
}

/*==================================================
  STATISTICS SECTION
==================================================*/

.stats-section{
    max-width:1300px;
    margin:70px auto;
    padding:0 60px;
}

.stats-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    background:#0d1120;
    border:1px solid rgba(255,255,255,.08);
    border-radius:30px;
    overflow:hidden;
    backdrop-filter:blur(15px);
    box-shadow:
    0 20px 40px rgba(0,0,0,.35);
}

.stat-item{
    background:rgba(255,255,255,.05);
    padding:40px 25px;
    text-align:center;
    border-right:1px solid rgba(45,212,191,.15);
    transition:.35s;
}

.stat-item:last-child{
    border-right:none;
}

.stat-item i{
    width:70px;
    height:70px;
    margin:auto;
    margin-bottom:18px;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(45,212,191,.12);
    color:#2DD4BF;
    font-size:30px;
}

.stat-item h2{
    font-size:30px;
    margin-bottom:10px;
    color:#fff;
}

.stat-item p{
    color:#bdbdd2;
    line-height:1.6;
}

.stat-item:hover{
    border-color:#2DD4BF;
    box-shadow:
        0 0 20px rgba(45,212,191,.25);
}

.stat-item:hover i{
    transform:translateY(-6px);
    box-shadow:
    0 0 18px #2DD4BF;
}


/*==================================================
  BOTTOM CARDS
==================================================*/

.bottom-cards{
    max-width:1300px;
    margin:70px auto;
    padding:0 60px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
}


/* Card */

.info-card{
    background:rgba(255,255,255,.05);
    border-radius:30px;
    border:1px solid rgba(45,212,191,.15);
    padding:35px;
    transition:.35s;
    position:relative;
    overflow:hidden;
    backdrop-filter:blur(16px);
}

.info-card::before{
    content:"";
    position:absolute;
    width:250px;
    height:250px;
    right:-120px;
    top:-120px;
    background:
    radial-gradient(circle,
    rgba(45,212,191,.12),
    transparent 70%);

}

.info-card:hover{
    transform:translateY(-8px);
    border-color:#2DD4BF;
    box-shadow:
    0 0 20px rgba(45,212,191,.25);
}

.info-card h2{
    color:#F8FAFC;
    font-size:30px;
    margin-bottom:15px;
}


/* Pink line */

.line{
    width:70px;
    height:4px;
    background:#2DD4BF;
    border-radius:50px;
    margin-bottom:25px;
    box-shadow:
    0 0 10px #2DD4BF,
    0 0 20px #2DD4BF;
}


/*==================================================
  WHAT DRIVES ME
==================================================*/

.info-card p{
    color:#CBD5E1;
    line-height:1.9;
    margin-bottom:20px;
}


/*==================================================
  VALUES
==================================================*/

.values-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin-top:20px;
}

.value{
    text-align:center;
}

.value i{
    width:75px;
    height:75px;
    margin:auto;
    margin-bottom:15px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    color:#2DD4BF;
    background:rgba(45,212,191,.12);
    transition:.35s;
}

.value:hover i{
    transform:translateY(-6px);
    box-shadow:
    0 0 20px #2DD4BF;
}

.value h4{
    font-size:20px;
    margin-bottom:6px;
}

.value p{
    font-size:15px;
    color:#bdbdd2;
}

.footer{
    margin-top:0px;
    padding:40px 0;
    border-top:1px solid rgba(255,255,255,.08);
    text-align:center;
    color:#8d8d8d;
}

/*==================================================
  TABLET
==================================================*/

@media(max-width:1024px){

.about-section{
grid-template-columns:1fr;
text-align:center;
gap:60px;
}
    
.about-image{
order:-1;
}
    
.floating-card{
left:50%;
transform:translateX(-50%);
}

.stats-container{
grid-template-columns:repeat(2,1fr);
}

.stat-item{
border-bottom:1px solid rgba(255,255,255,.08);
}

.stat-item:nth-child(2){
border-right:none;
}

.bottom-cards{
grid-template-columns:1fr;
}
}


/*==================================================
  MOBILE
==================================================*/

@media (max-width:768px){

/* Header */

.header{
    flex-direction:column;
    height:auto;
    padding:15px 20px;
    gap:20px;
}

.navbar{
    flex-wrap:wrap;
    justify-content:center;
    gap:18px;
}

/* About */

.about-section{
    grid-template-columns:1fr;
    gap:80px;
    padding:40px 20px;
}

/* Image */

.about-image{
    display:flex;
    justify-content:center;
    position:relative;
}

.about-image img{
    width:280px;
    height:360px;
    border-radius:25px;
}

/* Glow */

.photo-bg{
    width:300px;
    height:300px;
}

/* Floating Card */

.floating-card{
    position:absolute;
    left:50%;
    bottom:-40px;
    transform:translateX(-50%);
    width:240px;
    padding:18px;
}

/* About Content */

.about-content{
    text-align:center;
    margin-top:40px;
}

.about-tag{
    margin:auto;
}

.about-content h1{
    font-size:38px;
    line-height:1.2;
}

.about-content p{
    font-size:16px;
    line-height:1.8;
}

.connect-btn{
    margin:auto;
}

/* Statistics */

.stats-section{
    padding:0 20px;
}

.stats-container{
    grid-template-columns:1fr;
}

.stat-item{
    border-right:none;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.stat-item:last-child{
    border-bottom:none;
}

/* Bottom Cards */

.bottom-cards{
    grid-template-columns:1fr;
    padding:0 20px;
}

.values-grid{
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.info-card{
    padding:25px;
}

.footer{
    padding:30px 20px;
    text-align:center;
}
}

@media (max-width:480px){

.about-image img{
    max-width:260px;
    height:330px;
}

.photo-bg{
    width:260px;
    height:260px;
}

.about-content h1{
    font-size:28px;
}

.about-content p{
    font-size:14px;
}

.about-tag{
    padding:10px 18px;
    font-size:14px;
}

.connect-btn{
    width:100%;
    justify-content:center;
}

.values-grid{
    grid-template-columns:1fr;
}
}

/*==========================
   LIGHT MODE
===========================*/

body.light-mode{
    background:
        radial-gradient(circle at top right,
        rgba(45,212,191,.08),
        transparent 35%),
        radial-gradient(circle at bottom left,
        rgba(45,212,191,.06),
        transparent 45%),
        #F8FAFC;
    color:#111827;
}

/* Header */

body.light-mode .header{
    background:rgba(255,255,255,.90);
    border-bottom:1px solid #d1d5db;
}

body.light-mode .logo span{
    color:#111827;
}

body.light-mode .navbar a{
    color:#111827;
}

/* About */

body.light-mode .about-content h1{
    color:#111827;
}

body.light-mode .about-content p{
    color:#4b5563;
}

body.light-mode .about-tag{
    background:#ffffff;
    color:#14B8A6;
}

/* Floating Card */

body.light-mode .floating-card{
    background:#ffffff;
    border:1px solid #d1d5db;
}

body.light-mode .info h4{
    color:#111827;
}

body.light-mode .info p{
    color:#4b5563;
}

/* Statistics */

body.light-mode .stats-container{
    background:#ffffff;
    border:1px solid #d1d5db;
}

body.light-mode .stat-item{
    background:#ffffff;
}

body.light-mode .stat-item h2{
    color:#111827;
}

body.light-mode .stat-item p{
    color:#4b5563;
}

/* Cards */

body.light-mode .info-card{
    background:#ffffff;
    border:1px solid #d1d5db;
}

body.light-mode .info-card h2{
    color:#111827;
}

body.light-mode .info-card p{
    color:#4b5563;
}

body.light-mode .value h4{
    color:#111827;
}

body.light-mode .value p{
    color:#4b5563;
}

/* Button */

body.light-mode .connect-btn{
    color:#ffffff;
}

/* Footer */

body.light-mode .footer{
    color:#4b5563;
    border-top:1px solid #d1d5db;
}
