/*=========================================
  GOOGLE FONT
=========================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:
    radial-gradient(circle at top left,
    rgba(255,46,166,.12),
    transparent 30%),

    radial-gradient(circle at bottom right,
    rgba(132,0,255,.12),
    transparent 35%),
    #060611;
    color:#fff;
    overflow-x:hidden;
}

/*=========================================
  HEADER
=========================================*/

.header{
    width:100%;
    height:90px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
    background:#070711;
    border-bottom:1px solid rgba(255,255,255,.06);
    position:sticky;
    top:0;
    z-index:999;

}

.logo{
    font-size:30px;
    color:#ff2ea6;
    font-weight:700;
}

.logo span{
    color:#fff;
    font-size:22px;
}

.navbar{
    display:flex;
    gap:40px;
}

.navbar a{
    color:#fff;
    text-decoration:none;
    font-size:17px;
    transition:.35s;
    position:relative;
}

.navbar a:hover,

.navbar .active{
    color:#ff2ea6;
}

.navbar .active::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-10px;
    width:100%;
    height:3px;
    background:#ff2ea6;
    border-radius:30px;
}

/*=========================================
 RIGHT
=========================================*/

.right-section{
    display:flex;
    align-items:center;
}

.download-btn{
    padding:14px 28px;
    border-radius:50px;
    border:2px solid #ff2ea6;
    color:#fff;
    text-decoration:none;
    transition:.4s;
    font-weight:600;
}

.download-btn i{
    margin-right:8px;
}

.download-btn:hover{
    background:#ff2ea6;
    box-shadow:
    0 0 20px #ff2ea6,
    0 0 45px rgba(255,46,166,.45);
}

/*=========================================
 ABOUT SECTION
=========================================*/

.about-section{
    max-width:1300px;
    margin:80px auto;
    padding:0 60px;
    display:grid;
    grid-template-columns:430px 1fr;
    gap:90px;
    align-items:center;
}

/*=========================================
 IMAGE
=========================================*/

.about-image{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.photo-bg{
    position:absolute;
    width:430px;
    height:430px;
    border-radius:50%;
    background:
    radial-gradient(circle,
    rgba(255,46,166,.55),
    transparent 70%);
    filter:blur(40px);
}

.about-image img{
    width:420px;
    height:500px;
    object-fit:cover;
    border-radius:35px;
    position:relative;
    z-index:2;
    border:2px solid rgba(255,255,255,.08);
    transition:.4s;
}

.about-image img:hover{
    transform:translateY(-8px);
    box-shadow:
    0 0 25px rgba(255,46,166,.4),
    0 0 60px rgba(255,46,166,.25);
}

/*=========================================
 FLOATING CARD
=========================================*/

.floating-card{
    position:absolute;
    bottom:-20px;
    left:40px;
    width:260px;
    background:#0d1120;
    border:1px solid rgba(255,255,255,.08);
    border-radius:22px;
    padding:20px;
    z-index:5;
    backdrop-filter:blur(15px);
    box-shadow:
    0 20px 40px rgba(0,0,0,.35);
}

.info{
    display:flex;
    align-items:center;
    gap:15px;
}

.info:first-child{
    margin-bottom:18px;
}

.info i{
    width:50px;
    height:50px;
    background:rgba(255,46,166,.15);
    border-radius:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#ff2ea6;
    font-size:20px;
}

.info h4{
    font-size:16px;
    margin-bottom:5px;
}

.info p{
    color:#bcbccc;
    font-size:14px;
}

/*=========================================
 ABOUT CONTENT
=========================================*/

.about-tag{
    display:inline-flex;
    align-items:center;
    gap:10px;
    border:1px solid #ff2ea6;
    border-radius:40px;
    padding:12px 26px;
    color:#ff2ea6;
    font-weight:600;
}

.about-content h1{
    font-size:60px;
    line-height:1.15;
    margin:30px 0;
}

.about-content h1 span{
    color:#ff2ea6;
}

.about-content p{
    color:#c7c7d4;
    line-height:1.9;
    font-size:17px;
    margin-bottom:20px;
}

/*=========================================
 BUTTON
=========================================*/

.connect-btn{
    display:inline-flex;
    align-items:center;
    gap:12px;
    margin-top:20px;
    padding:16px 34px;
    border-radius:50px;
    background:#ff2ea6;
    color:#fff;
    text-decoration:none;
    transition:.35s;
    font-weight:600;
}

.connect-btn:hover{
    transform:translateY(-6px);
    box-shadow:
    0 0 20px #ff2ea6,
    0 0 45px rgba(255,46,166,.4);
}

/*==================================================
  STATISTICS SECTION
==================================================*/

.stats-section{
    max-width:1300px;
    margin:70px auto;
    padding:0 60px;
}

.stats-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    background:#0d1120;
    border:1px solid rgba(255,255,255,.08);
    border-radius:30px;
    overflow:hidden;
    backdrop-filter:blur(15px);
    box-shadow:
    0 20px 40px rgba(0,0,0,.35);
}

.stat-item{
    padding:40px 25px;
    text-align:center;
    border-right:1px solid rgba(255,255,255,.08);
    transition:.35s;
}

.stat-item:last-child{
    border-right:none;
}

.stat-item i{
    width:70px;
    height:70px;
    margin:auto;
    margin-bottom:18px;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(255,46,166,.12);
    color:#ff2ea6;
    font-size:30px;
}

.stat-item h2{
    font-size:30px;
    margin-bottom:10px;
    color:#fff;
}

.stat-item p{
    color:#bdbdd2;
    line-height:1.6;
}

.stat-item:hover{
    background:rgba(255,46,166,.05);
}

.stat-item:hover i{
    transform:translateY(-6px);
    box-shadow:
    0 0 18px #ff2ea6;
}


/*==================================================
  BOTTOM CARDS
==================================================*/

.bottom-cards{
    max-width:1300px;
    margin:70px auto;
    padding:0 60px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
}


/* Card */

.info-card{
    background:#0d1120;
    border-radius:30px;
    border:1px solid rgba(255,255,255,.08);
    padding:35px;
    transition:.35s;
    position:relative;
    overflow:hidden;
}

.info-card::before{
    content:"";
    position:absolute;
    width:250px;
    height:250px;
    right:-120px;
    top:-120px;
    background:
    radial-gradient(circle,
    rgba(255,46,166,.18),
    transparent 70%);

}

.info-card:hover{
    transform:translateY(-8px);
    border-color:#ff2ea6;
    box-shadow:
    0 0 20px rgba(255,46,166,.25);
}

.info-card h2{
    font-size:30px;
    margin-bottom:15px;
}


/* Pink line */

.line{
    width:70px;
    height:4px;
    background:#ff2ea6;
    border-radius:50px;
    margin-bottom:25px;
    box-shadow:
    0 0 10px #ff2ea6,
    0 0 20px #ff2ea6;
}


/*==================================================
  WHAT DRIVES ME
==================================================*/

.info-card p{
    color:#c9c9d6;
    line-height:1.9;
    margin-bottom:20px;
}


/*==================================================
  VALUES
==================================================*/

.values-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin-top:20px;
}

.value{
    text-align:center;
}

.value i{
    width:75px;
    height:75px;
    margin:auto;
    margin-bottom:15px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    color:#ff2ea6;
    background:rgba(255,46,166,.12);
    transition:.35s;
}

.value:hover i{
    transform:translateY(-6px);
    box-shadow:
    0 0 20px #ff2ea6;
}

.value h4{
    font-size:20px;
    margin-bottom:6px;
}

.value p{
    font-size:15px;
    color:#bdbdd2;
}

.footer{
    margin-top:0px;
    padding:40px 0;
    border-top:1px solid rgba(255,255,255,.08);
    text-align:center;
    color:#8d8d8d;
}

/*==================================================
  TABLET
==================================================*/

@media(max-width:1100px){

.about-section{
grid-template-columns:1fr;
text-align:center;
gap:60px;
}
    
.about-image{
order:-1;
}
    
.floating-card{
left:50%;
transform:translateX(-50%);
}

.stats-container{
grid-template-columns:repeat(2,1fr);
}

.stat-item{
border-bottom:1px solid rgba(255,255,255,.08);
}

.stat-item:nth-child(2){
border-right:none;
}

.bottom-cards{
grid-template-columns:1fr;
}
}


/*==================================================
  MOBILE
==================================================*/

@media(max-width:768px){

.header{
flex-direction:column;
height:auto;
padding:20px;
gap:20px;
}

.navbar{
flex-wrap:wrap;
justify-content:center;
gap:18px;
}

.about-section,
.stats-section,
.bottom-cards{
padding:0 20px;
}

.about-image img{
width:100%;
max-width:320px;
height:400px;
}

.photo-bg{
width:320px;
height:320px;
}

.floating-card{
position:relative;
left:auto;
bottom:auto;
transform:none;
width:100%;
margin-top:20px;
}

.about-content h1{
font-size:42px;
}

.stats-container{
grid-template-columns:1fr;
}

.stat-item{
border-right:none;
border-bottom:1px solid rgba(255,255,255,.08);
}

.stat-item:last-child{
border-bottom:none;
}

.values-grid{
grid-template-columns:1fr;
}

.info-card{
padding:25px;
}
}
