*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:
    radial-gradient(circle at top right,
    rgba(255,46,166,.12),
    transparent 35%),

    radial-gradient(circle at bottom left,
    rgba(162,89,255,.12),
    transparent 35%),
    #060611;
}

/* HEADER */

.header{
    width:100%;
    min-height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 6%;
    background:#070711;
    border-bottom:1px solid rgba(255,255,255,0.05);
    flex-wrap:wrap;
}
/* LOGO */

.logo{
    font-size:30px;
    font-weight:bold;
    color:#ff2ea6;
    cursor:pointer;
}

.logo span{
    color:white;
    font-size:22px;
    margin-left:5px;
}

/* NAVBAR */

.navbar{
    display:flex;
    gap:40px;
}

.navbar a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:500;
    position:relative;
    transition:0.3s;
}

/* ACTIVE LINE */

.navbar a.active{
    color:#ff2ea6;
}

.navbar a.active::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:100%;
    height:3px;
    background:#ff2ea6;
    border-radius:10px;
    box-shadow:0 0 10px #ff2ea6;
}

/* HOVER */

.navbar a:hover{
    color:#ff2ea6;
}

/* RIGHT SIDE */

.right-section{
    display:flex;
    align-items:center;
    gap:20px;
}

/* DOWNLOAD BUTTON */

.download-btn{
    text-decoration: none;  
    padding:14px 28px;
    border-radius:40px;
    border:2px solid #ff2ea6;
    background:transparent;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.4s;
}

/* ICON */

.download-btn i{
    margin-right:10px;
}

/* HOVER EFFECT */

.download-btn:hover{
    background:#ff2ea6;
    box-shadow:
    0 0 10px #ff2ea6,
    0 0 20px #ff2ea6,
    0 0 40px #ff2ea6;
    transform:translateY(-2px);
}

/* LIGHT BUTTON */

.theme-btn{
    width:55px;
    height:55px;
    border-radius:50%;
    border:2px solid #ff2ea6;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:0.4s;
    color:#ff2ea6;
    font-size:22px;
}

.light-mode{
    background:#ffffff;
    color:#111111;
}

/* GLOW */

.theme-btn:hover{
    background:#ff2ea6;
    color:white;
    box-shadow:
    0 0 10px #ff2ea6,
    0 0 20px #ff2ea6,
    0 0 50px #ff2ea6;

    transform:rotate(180deg);
}

/* RESPONSIVE */

@media(max-width:1100px){

    .navbar{
        gap:20px;
    }

    .navbar a{
        font-size:15px;
    }

    .download-btn{
        padding:12px 18px;
        font-size:14px;
    }
}

@media(max-width:900px){

    .header{
        flex-direction:column;
        height:auto;
        gap:20px;
        padding:20px;
    }

    .navbar{
        flex-wrap:wrap;
        justify-content:center;
    }
}

.skills-section{
    padding:80px 8%;
}

.skills-hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:80px;
    margin-bottom:70px;
    min-height:350px;
}

.hero-left{
    flex:1;
}

.hero-left h1{
    font-size:clamp(42px,6vw,68px);
    line-height:1.2;
    margin:20px 0;
    color:#fff;
}

.hero-left h1 span{
    color:#ff2ea6;
    text-shadow:0 0 20px #ff2ea6;
}

.hero-left p{
    max-width:550px;
    color:#bfbfd8;
    font-size:18px;
    line-height:1.8;
}

.hero-right{
    width:330px;
    height:330px;
    border-radius:30px;
    background:#0d1020;
    border:1px solid rgba(255,46,166,.2);
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 0 40px rgba(255,46,166,.18);
}

.hero-right i{
    font-size:140px;
    color:#ff2ea6;
}

.section-title{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    margin-bottom:60px;
}

.badge{
    display:inline-block;
    padding:10px 20px;
    border:1px solid #ff2ea6;
    border-radius:30px;
    color:#ff2ea6;
    margin-bottom:15px;
    font-size:14px;
}

.section-title h1{
    font-size:70px;
    margin:0 0 15px 0;
    font-size:clamp(32px, 5vw, 60px);
    margin-bottom:10px;
    line-height:1.2;
}

.section-title h1 span{
    color:#ff2ea6;
    text-shadow:0 0 15px #ff2ea6;
}

.section-title p{
    color:#c8c8c8;
    font-size:18px;
    max-width:700px;
    margin:0 auto;
}

.skills-section{
    width:100%;
    max-width:1300px;
    margin:auto;
    padding:90px 40px;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 30px;
    margin-top:40px;
}

.card{
    background:#0d1020;
    border:1px solid rgba(255,255,255,.08);
    border-radius:22px;
    padding:35px;
    transition:.35s;
    display:flex;
    flex-direction:column;
    min-height:460px;
}

.card:hover{
    border-color:#ff2ea6;
    box-shadow:0 0 25px rgba(255,46,166,.25);
    transform:translateY(-8px);
}

.card-header{
    display:flex;
    align-items:center;
    gap:18px;
    margin-bottom:30px;
}

.card-header h2{
    font-size:28px;
    color:white;
}

.card h2{
    margin-bottom:25px;
}

.skill-list{
    display:flex;
    flex-direction:column;
    gap:5px;
    margin-top:10px;
}

.item{
    display:flex;
    align-items:center;
    gap:18px;
    padding:18px 5px;
    border-bottom:1px solid rgba(255,255,255,.08);
    transition:.3s;
}

.item:last-child{
    border-bottom:none;
}

.item img{
    width:38px;
    height:38px;
    object-fit:contain;
}

.item:hover{
    padding-left:12px;
    color:#ff2ea6;
}

.skill-icon{
    width:38px;
    font-size:22px;
    color:#ff2ea6;
}

.item span{
    color:#fff;
    font-size:18px;
    font-weight:500;
}

.title-icon{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#1b1735;
    color:#ff2ea6;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
}

.cta{
    margin:80px auto;
    max-width:1200px;
    margin-top:70px;
    background:#0d1020;
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
}

.cta-btn{
    padding:16px 35px;
    background:#ff2ea6;
    color:white;
    text-decoration:none;
    border-radius:12px;
    font-weight:600;
    transition:.3s;
}

.cta h2{
    font-size:40px;
    margin-bottom:15px;
}

.cta p{
    color:#c5c5d8;
    line-height:1.8;
    max-width:600px;
}

.cta-btn:hover{
    box-shadow:0 0 25px #ff2ea6;
}

.footer{
    padding:40px 0;
    border-top:1px solid rgba(255,255,255,.08);
    text-align:center;
    color:#8d8d8d;
}

@media (max-width:992px){

    .skills-hero{
        flex-direction:column;
        text-align:center;
        gap:40px;
    }

    .hero-left p{
        margin:auto;
    }

    .hero-right{
        width:220px;
        height:220px;
    }

    .hero-right i{
        font-size:90px;
    }

    .skills-container{
        grid-template-columns:repeat(2,1fr);
        gap:25px;
    }

    .stats{
        grid-template-columns:repeat(2,1fr);
    }

    .cta{
        flex-direction:column;
        text-align:center;
    }
}

/*@media(max-width:600px){

    .stats{
        grid-template-columns:1fr;
    }

    .header{
        flex-direction:column;
        gap:15px;
    }
}*/

@media (max-width:768px){

    .skills-container{
    grid-template-columns:1fr;
    }

    .skills-section{
        padding:50px 20px;
    }

    .section-title h1,
    .hero-left h1{
        font-size:42px;
    }

    .section-title p,
    .hero-left p{
        font-size:16px;
    }

    .card,
    .other-skills-card{
        padding:25px;
    }

    .card-header{
        gap:12px;
    }

    .title-icon{
        width:50px;
        height:50px;
        font-size:20px;
    }

    .item{
        gap:15px;
        padding:14px 0;
    }

    .item img{
        width:28px;
        height:28px;
    }

    .item span{
        font-size:16px;
    }

    .stats{
        grid-template-columns:1fr;
    }

    .stat-card{
        padding:20px;
    }

    .cta{
        padding:30px 20px;
    }

    .cta h2{
        font-size:28px;
    }

    .cta-btn{
        width:100%;
        text-align:center;
    }
} 

@media (max-width:480px){

    .hero-left h1{
        font-size:32px;
    }

    .hero-right{
        width:180px;
        height:180px;
    }

    .hero-right i{
        font-size:70px;
    }

    .badge{
        font-size:12px;
        padding:8px 16px;
    }

    .card{
        border-radius:16px;
        padding:20px;
    }

    .title-icon{
        width:45px;
        height:45px;
        font-size:18px;
    }

    .card-header h2{
        font-size:20px;
    }

    .item span{
        font-size:15px;
    }

    .footer{
        font-size:14px;
        padding:25px 15px;
    }
}
