*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#060611;
    color:white;
    line-height:1.6;
}

/* HEADER */

.header{
    width:100%;
    min-height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 6%;
    background:#070711;
    border-bottom:1px solid rgba(255,255,255,0.05);
    flex-wrap:wrap;
}
/* LOGO */

.logo{
    font-size:30px;
    font-weight:bold;
    color:#ff2ea6;
    cursor:pointer;
}

.logo span{
    color:white;
    font-size:22px;
    margin-left:5px;
}

/* NAVBAR */

.navbar{
    display:flex;
    gap:40px;
}

.navbar a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:500;
    position:relative;
    transition:0.3s;
}

/* ACTIVE LINE */

.navbar a.active{
    color:#ff2ea6;
}

.navbar a.active::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:100%;
    height:3px;
    background:#ff2ea6;
    border-radius:10px;
    box-shadow:0 0 10px #ff2ea6;
}

/* HOVER */

.navbar a:hover{
    color:#ff2ea6;
}

/* RIGHT SIDE */

.right-section{
    display:flex;
    align-items:center;
    gap:20px;
}

/* DOWNLOAD BUTTON */

.download-btn{
    text-decoration: none;  
    padding:14px 28px;
    border-radius:40px;
    border:2px solid #ff2ea6;
    background:transparent;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.4s;
}

/* ICON */

.download-btn i{
    margin-right:10px;
}

/* HOVER EFFECT */

.download-btn:hover{
    background:#ff2ea6;
    box-shadow:
    0 0 10px #ff2ea6,
    0 0 20px #ff2ea6,
    0 0 40px #ff2ea6;
    transform:translateY(-2px);
}

/* LIGHT BUTTON */

.theme-btn{
    width:55px;
    height:55px;
    border-radius:50%;
    border:2px solid #ff2ea6;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:0.4s;
    color:#ff2ea6;
    font-size:22px;
}

.light-mode{
    background:#ffffff;
    color:#111111;
}

/* GLOW */

.theme-btn:hover{
    background:#ff2ea6;
    color:white;
    box-shadow:
    0 0 10px #ff2ea6,
    0 0 20px #ff2ea6,
    0 0 50px #ff2ea6;

    transform:rotate(180deg);
}

/* RESPONSIVE */

@media(max-width:1100px){

    .navbar{
        gap:20px;
    }

    .navbar a{
        font-size:15px;
    }

    .download-btn{
        padding:12px 18px;
        font-size:14px;
    }
}

@media(max-width:900px){

    .header{
        flex-direction:column;
        height:auto;
        gap:20px;
        padding:20px;
    }

    .navbar{
        flex-wrap:wrap;
        justify-content:center;
    }
}

.skills-section{
    padding:80px 8%;
}

.section-title{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    margin-bottom:60px;
}

.badge{
    display:inline-block;
    padding:10px 20px;
    border:1px solid #ff2ea6;
    border-radius:30px;
    color:#ff2ea6;
    margin-bottom:15px;
    font-size:14px;
}

.section-title h1{
    font-size:70px;
    margin:0 0 15px 0;
    font-size:clamp(32px, 5vw, 60px);
    margin-bottom:10px;
    line-height:1.2;
}

.section-title h1 span{
    color:#ff2ea6;
    text-shadow:0 0 15px #ff2ea6;
}

.section-title p{
    color:#c8c8c8;
    font-size:18px;
    max-width:700px;
    margin:0 auto;
}

.skills-section{
    padding:60px 6%;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap: 30px;
    align-items:start;
}

.card{ 
    width:100%;
    max-width:100%;
    background:#0d0d1b;
    border:1px solid rgba(255,255,255,.08);
    border-radius:25px;
    padding:20px;
}

.card-header{
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.card h2{
    margin-bottom:25px;
}

.skill{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}

.skill-icon{
    width:65px;
    height:65px;
    padding:12px;
    border-radius:15px;
    border:1px solid #ff00aa;
    background:#0b0220;
    box-shadow:0 0 10px rgba(255,0,170,.3);
}
/*.skill-info{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:10px;
}*/
.skill-info{
    flex:1;
}

.skill-icon img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.skill-info span:nth-child(2){
    flex:1;
    font-size:18px;
    font-weight:600;
}

/*.skill-info span:last-child{
    color:#ff2ea6;
    font-weight:bold;
}*/


.skill-head{
    display:flex;
    justify-content:space-between;
    font-size:15px;
    margin-bottom:8px;
}

.skill-head span:last-child{
    margin-left:20px;
}

.progress{
    height:8px;
    background:#1a1030;
    border-radius:50px;
    overflow:hidden;
}

.bar{
    height:100%;
    border-radius:50px;
    background:linear-gradient(90deg,#ff00aa,#ff4dd2);
    box-shadow:0 0 15px #ff00aa;
}

.section-title{
    display:flex;
    align-items:center;
    gap:25px;
    margin-bottom:40px;
}

.title-icon{
    width:90px;
    height:90px;
    border-radius:20px;
    border:2px solid #ff1493;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#ff1493;
    font-size:40px;
    box-shadow:0 0 20px #ff1493;
}

.section-title h2{
    color:#fff;
    font-size:52px;
    font-weight:600;
}

.other-skills-card{
    width:100%;
    max-width:100%;
    background:#0d0d1b;
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:20px;
}

.other-title{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:25px;
}

.title-icon{
    width:65px;
    height:65px;
    border-radius:18px;
    border:2px solid #ff2ea6;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#ff2ea6;
    font-size:28px;
    box-shadow:0 0 15px #ff2ea6;
}

.other-title h2{
    color:white;
}

.skill-card{
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    margin-bottom:15px;
    border-radius:15px;
    background:#120424;
    border:1px solid rgba(255,46,166,.3);
}

.icon-circle{
    width:75px;
    height:75px;
    border-radius:50%;
    border:2px solid #ff2ea6;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#ff2ea6;
    font-size:28px;
    box-shadow:0 0 15px #ff2ea6;
    flex-shrink:0;
}

.content h3{
    font-size:20px;
    color:white;
    margin-bottom:8px;
}

.content p{
    font-size:14px;
    color:#c8c8c8;
    line-height:1.6;
}

.stats{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:25px;
    background:#0d0d1b;
    border-radius:20px;
}

.stats-header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.stats h2{
    text-align:left;
    grid-column:1 / -1;
    margin-bottom:10px;
}
.stat-card{
    text-align:center;
    padding:20px;
    border-radius:15px;
    background:#0f0f20;
    border:1px solid rgba(255,255,255,.08);
}

.stat-card img{
    width: 60px;
    height:60px;
    margin-bottom:10px;
}

.stat-card h3{
    font-size:15px;
    color:white;
    margin-bottom:10px;
}


.stat-card p{
    font-size:13px;
    color:#c8c8c8;
}

.footer{
    padding:40px 0;
    border-top:1px solid rgba(255,255,255,.08);
    text-align:center;
    color:#8d8d8d;
}

@media(max-width:900px){

    .skills-container{
        grid-template-columns:1fr;
    }

    .stats{
        grid-template-columns:repeat(2,1fr);
    }

    .section-title h1{
        font-size:45px;
    }
}

@media(max-width:600px){

    .stats{
        grid-template-columns:1fr;
    }

    .header{
        flex-direction:column;
        gap:15px;
    }
}

@media (max-width:768px){

    .skills-container{
        grid-template-columns:1fr;
    }

    .stats{
        grid-template-columns:1fr;
    }

    .section-title h1{
        font-size:2.5rem;
    }

    .skill{
        flex-direction:column;
        align-items:flex-start;
    }

    .skill-icon{
        width:55px;
        height:55px;
    }
} 
